/** colors are from https://catppuccin.com/palette/ **/

h1,
h2,
h3 {
    font-weight: 600;
    line-height: 1.2;
}

h2 {
    color: var(--ctp-lavender);
    margin-bottom: .75rem;
}

h3 {
    color: var(--ctp-blue);
}

.project-card {
    background: var(--ctp-surface0);
    border: 1px solid rgba(255,255,255,.05);
    border-radius: 12px;
    padding: 1.25rem;

    transition:
        transform .2s,
        border-color .2s;
}

.project-card:hover {
    transform: translateY(-3px);
    border-color: var(--ctp-mauve);
}

main section {
    margin-bottom: 4rem;
}

a {
  color: var(--ctp-blue);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--ctp-lavender);
  text-decoration: underline;
}

a:visited {
  color: var(--ctp-mauve);
}

:root {
  --ctp-rosewater: #f2d5cf;
  --ctp-flamingo: #eebebe;
  --ctp-pink: #f4b8e4;
  --ctp-mauve: #ca9ee6;
  --ctp-red: #ed8796;
  --ctp-peach: #fab387;
  --ctp-yellow: #f9e2af;
  --ctp-green: #a6e3a1;
  --ctp-blue: #89b4fa;
  --ctp-lavender: #b4befe;
  
  --ctp-text: #cdd6f4;
  --ctp-subtext: #bac2de;
  --ctp-overlay: #9399b2;
  --ctp-surface0: #313244;
  --ctp-base: #1e1e2e;
  --ctp-mantle: #181825;
  --ctp-crust: #11111b;
}

body {
  background-color: var(--ctp-base);
  color: var(--ctp-text);
  font-family: system-ui, -apple-system, sans-serif;
  margin: 0;
  line-height: 1.6;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

.highlight {
  
  background: linear-gradient(
    135deg,
    var(--ctp-mauve) 0%,
    var(--ctp-blue) 100%
  );

  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* switches to foreground fill ? */

  animation: shift-color 2s ease infinite alternate;

  transition: filter 0.3s ease;

}

/* idea: maybe add highlight hovering? */

.highlight:hover {
  filter: drop-shadow(0 0 8px rgba(202, 158, 230, 0.45));

}

/* i gotchu bro */

@keyframes shift-color {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}